{% extends "base.html" %} {% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Login</div>
        <div class="card-body">
          <form method="POST">
            <div class="mb-3">
              <label for="username" class="form-label text-secondary"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label text-secondary"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <button type="submit" class="btn btn-primary mx-auto w-100">
              Login
            </button>
            <div class="text-secondary pt-2">
              <a href="/signup" class="text-secondary">Sign up</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
