{% extends "base.html" %} {% block content %}
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.9/index.global.min.js"></script>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    console.log("This ran");
    var calendarEl = document.getElementById("fullcalendar");
    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: "dayGridMonth",
      initialDate: "2023-09-07",
      height: "60vh",
      headerToolbar: {
        left: "prev,next today",
        center: "title",
        right: "dayGridMonth",
      },
    });

    calendar.render();
  });
</script>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Sign Up</div>
        <div class="card-body">
          <form method="POST">
            <div class="mb-3">
              <label for="username" class="form-label text-secondary"
                >Username</label
              >
              <input
                type="text"
                class="form-control"
                id="username"
                name="username"
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label text-secondary"
                >Password</label
              >
              <input
                type="password"
                class="form-control"
                id="password"
                name="password"
              />
            </div>
            <div class="mb-3">
              <label for="confirm-password" class="form-label text-secondary"
                >Confirm Password</label
              >
              <input
                type="password"
                class="form-control"
                name="confirm-password"
                id="confirm-password"
              />
            </div>
            <div class="mb-3">
              <label for="captcha" class="form-label text-secondary"
                >Robot Test</label
              >
              <input
                type="text"
                class="form-control"
                name="captcha"
                id="captcha"
              />
              <small id="emailHelp" class="form-text text-muted"
                >To prove you aren't a robot: Please type the name of the saint
                the gregorian calendar is named after.</small
              >
            </div>

            <button type="submit" class="btn btn-primary mx-auto w-100">
              Sign Up
            </button>
            <div class="text-secondary pt-2">
              <a href="/login" class="text-secondary">Login</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
